:root{
    --blue: #98c9f7;
    --gray: #a4a8b4;
    --correct: #0b6902;
    --wrong: #e61f11;
    --cream: #f3f3e0;
    --navy: #090f44;
    --white: #ffffffff;
    --black: #000000;
}

body{
    background-color: var(--cream);   

}
.start_btn,
.info_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button Styling*/
.start_btn button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.info_box {
    display: none;
    width: 800px;
    height: 500px;
    max-height: 80%;
    max-width: 80%;
    background-color: var(--gray);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 15px 1px;
    text-align: center; 
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    padding: 0 px;
    font-size: 35px;
    font-weight: 500;

}

.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info_list .info span{
    font-weight: bolder;
    color: var(--white);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
       
}
.info_box .buttons button{
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--cream);
    font-size: 1rem;
    font-weight: bolder;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: var(--cream);
    background: var(--blue);
}
.buttons button.restart:hover{
    background: var(--cream);
    color: var(--blue);
}
.buttons button.quit{
    color: var(--blue);
       
}
.buttons button.quit:hover{
    color: var(--cream);
    background: var(--blue);
}