*{ box-sizing: border-box;
 }

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: larger;
    background-color: #f3f3e0 ;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 70, 71);
    color: whitesmoke;
    padding: 40px;
}

time {
    min-width: 80px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    font-size: large;
    color: black;
    background-color: #f3f3e0;
    padding: 20px;
    border-radius: 8px;
}
  
.inline-buttons {
    display: inline-flex;
}
  
/* Card Styles */
  
.card {
    background-color: gray;
    max-width: 80%;
    margin-top: 15vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 30px;
    border-color: black;
    box-shadow: 10px 5px 5px gray;
  }
  
  /* Start Card Styles */
  
  #start-screen {
    display: inline;
    text-align: center;
  }
  
  /* Question Card Styles */
  
  .choice-button {
    width: 100%;
    text-align: left;
    margin: 5px;
  }
  
  #result-div {
    display: none;
  }
  
  /* Score Card Styles */
  
  .inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
  }
  
  /* Leaderboard Card Styles */
  
  #back-button {
    margin-right: 8px;
  }
  
  .highscore-list {
    padding-inline-start: 20px;
  }
  /* Media Queries */
  
  @media screen and (min-width: 850px) {
    .card {
      max-width: 680px;
    }
  }
  
  /* Media query that specifies devices that can utilize hover */
  @media (hover) {
    /* Stylings pertaining to hover pseudo-class*/
    a:hover {
      color: #0703eea8;
    }
  
    button:hover {
      background-color: #0703eea8;
    }
  }
